#!/bin/bash
export HEKETI_CLI_SERVER=http://{{ groups['glusterfs_nodes'][0] }}:7777
{% for host in groups['node_add'] %}
{% for d in hostvars[host]['disk'] %}
nodeid=`heketi-cli topology info|grep {{ host }} -B 4|grep Node| awk -F " " '{print $NF}'` 
heketi-cli device add --name={{ d }}  --node="$nodeid"
{% endfor %}
{% endfor %}


